.center {
  text-align: center;
}

.content {
  background-color: #E74C3C;

}

.signin {
  background-color: #E74C3C;
}


button {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  text-align: right;
}

.link{
    text-align: center;
}
.navbar{
     background-color: #E74C3C;
      color: #E74C3C;
}
.link-2{
    text-align: center;
    padding-top: 50px;
}
.btn{
    text-align: center;
}
p{
  color:#fff;
}
